@{
    ViewData["Title"] = "Home Page";
}

<div class="container-sm">
    <div class="shadow border-bottom border-secondary mb-2">
        <div class="nav">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">Dashboard</a>
            <a class="nav-link active" asp-controller="Admin" asp-action="Manue">Food Manue</a>
        </div>
    </div>
    <div class="bg-white row row-cols-sm-4 row-cols-xs-2">
        <div class=""></div>
    </div>
</div>
