@{
    ViewData["Title"] = "Privacy Policy";
    var settings = (IEnumerable<Details>)ViewData["settings"];
}
<div class="jumbotron text-dark">
    <center>
        <h1>@ViewData["Title"]</h1>
    </center>
</div>
<div class="container bg-white p-2 text-center">
    @Html.Raw(settings.First(c => c.Name == "Privacy Policy").Value)
</div>

